body {
    margin: 0;
    font-family: "le-monde-livre-classic-byol", serif;
    font-weight: 300;
    font-style: normal; 
    background-color: rgb(209, 190, 162);
    margin: auto;
    width: 50%;
}

div {
  padding-bottom: 25px;
}

input[type="text"] {
  padding: 1em;
  width: 150px;
}

p {
  background: #862a2a;
  color: #ffffff;
  padding: 10px;
  visibility: hidden;
}