/*How to make a nav bar without flexbox, would recommend doing it with :)*/

body{
    margin: 0
}

ul{
    list-style-type: none;
    margin: 0;
    background-color: black;
    height:40px;
}

li{
    display: inline;
    float: right;
    margin-top: 10px;
}

li a{
    text-decoration: none;
    color: white;
    padding: 10px 30px;
}

li a:hover{
    background-color: darkslategray;
}

